@page "/"

<div class="container py-5">
    <div class="home-banner row">
        <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
            <div class="p-0 p-md-5">
                <div class="home-banner-wrap">
                    <h4 class="fw-bold">Tham gia học tập với chi phí thấp hơn</h4>
                    <p>Học bất kỳ chủ đề nào, bất cứ lúc nào. Khám phá hàng nghìn khóa học với mức giá thấp nhất từ trước đến nay!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 pt-0 pt-md-5 ">
            <div class="img">
                <img class="h-100" src="./image/nav.png" />
            </div>
        </div>
    </div>
</div>

<style>
    .home-banner{
        background: #f8f9fb;
    }

    .home-banner-wrap{
        box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
        padding: 2.4rem;
    }

    .img{
        display: flex;
        height: 400px;
        width: auto;
        margin: 0 auto;
        justify-content: center;
    }
</style>

@code{

}